@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4" style="margin-top:20px;">
        <h3>Resources</h3>
        <div class="btn-group btn-group-vertical">
            <a href="#" class="btn btn-default">Village Hall - Level 1: 500 gold/h</a>
            <a href="#" class="btn btn-default">LumberMill - Level 1: 20 wood/h</a>
            <a href="#" class="btn btn-default">Iron Mine - Level 1: 10 iron/h</a>
        </div>
    </div>
    <div class="col-md-4" style="margin-top:20px;">
        <h3>Army</h3>
        <p>Date: <input type="text" id="datepicker"></p>
    </div>
    <div class="col-md-4" style="margin-top:20px;">
        <h3>Other</h3>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
</script>
    }