@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <a href="@Url.Action("Towns", "Home", new { id = 1 })">Go to Town 1</a>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
</script>
    }