<div class="well">
    <h3>Games</h3>
    <ul>
        <li><a href="games/asteroid">Asteroid</a></li>
        <li><a href="games/wood">Wood</a></li>
        <li><a href="games/bird">Bird</a></li>
    </ul>
</div>